{% extends 'base.html' %}
{% block title %}500! Хьюстон, у нас что то с сервером!{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">500! Хьюстон, у нас что то с сервером!</h1>
        <p>
          На сервере произошёл сбой или проводятся технические работы. 
          Попробуйте обновить страницу. Если не помогло, зайдите позже.
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/500.jpg') }}" alt="" width="100%"/>
      </div>
    </div>
  </section>
</main>
{% endblock %}